.users {
    background: #DEF2FF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .custom-add {
        border: 2px solid #162C70;
        border-radius: 20px;
        padding: 5px;
        cursor: pointer;
    }
    .table {
        margin-top: 100px;
        .title-header {
            font: normal normal bold 18px/25px Roboto;
            letter-spacing: 0px;
            color: #162C70;
        }
        table {
            width: 100%;
            border: #162C70 solid 1px;
            thead {
                border-left: #162C70 solid 8px;
                border-right: #162C70 solid 8px;
                border-top: #162C70 solid 8px;
                background: var(--unnamed-color-162c70) 0% 0% no-repeat padding-box;
                background: #162C70 0% 0% no-repeat padding-box;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-ffffff);
                text-align: left;
                font: normal normal medium 16px/22px Roboto;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
            tbody {
                border-left: #dbd8d8 solid 8px;
                border-right: #dbd8d8 solid 8px;
                border-top: #dbd8d8 solid 12px;
                border-bottom: #dbd8d8 solid 12px;
                border-radius: 5px 5px 5px 5px;
                padding: 20px;
                font: italic normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-162c70);
                text-align: left;
                font: italic normal medium 16px/25px Roboto;
                letter-spacing: 0px;
                color: #162C70;
                opacity: 1;
                .info-table {
                    padding: 40px;
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-roboto);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    text-align: center;
                    font: normal normal normal 16px/15px Roboto;
                    letter-spacing: 0px;
                    color: #B7B7B7;
                    opacity: 1;
                }
                tr {
                    border: #585757 solid 1px;
                    td {
                        .btn {
                            margin-top: -12px;
                        }
                    }
                }
            }
            tfoot {
                display: none;
            }
        }
    }
}

