<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top custom-navbar">
    <div class="row" style="width: 100%;">
        <div class="col-md-6">
            <p routerLink="/home" class="title custom-font">
                <strong>TASK MANAGER</strong><br>
            </p>
        </div>
        <div class="col-md-5 text-right">
            <strong class="custom-font">Pepito Perez</strong><br>
            <strong>Administrador</strong>
            
        </div>
        <div class="col-md-1">
            <img src="assets/img/user-icon.png" alt="User Icon" class="user-icon">
            <div class="open-select"></div>                               
            <select class="select-logout">
                <option value="">Cerrar Sesión</option>
            </select>
        </div>
    </div>
</nav>
