<!-- Modal -->
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">USUARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="active">
                            <label for="user_name"><strong>Nombre del usuario*: </strong></label>
                            <input type="text" class="form-control"  [(ngModel)]="user.name"
                                name="user_name" placeholder="Nombre del usuario:" 
                            />
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="active">
                            <label for="email_name"><strong>Correo electrónico*: </strong></label>
                            <input type="text" class="form-control"  [(ngModel)]="user.email"
                                name="email_name" placeholder="Correo electrónico:" 
                            />
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="active">
                            <label for="role"><strong>Rol: </strong></label>
                            <input type="text" class="form-control"  [value]="(roles)?roles[user.roleId-1]?.description:''"
                                name="role" placeholder="Seleccione un rol ... " readonly
                            />
                            <span class="open-select"></span>
                            <select class="select_status" name="select_role" [(ngModel)]="user.roleId">
                                <option [ngStyle]="{'display':(role.status.description == 'Inactivo')?'none':''}" [value]="role.id" *ngFor="let role of roles; let ir = index;">{{ role.description }}</option>
                            </select>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="active">
                            <label for="status"><strong>Estado: </strong></label>
                            <input type="text" class="form-control" [value]="(statuss)?statuss[user.statusId-1]?.description:''"
                                name="status" placeholder="Seleccione un estado ... " readonly
                            />
                            <span class="open-select"></span>
                            <select class="select_status" name="select_status" [(ngModel)]="user.statusId">
                                <option [value]="status.id" *ngFor="let status of statuss; let is = index;">{{ status.description }}</option>
                            </select>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="active">
                            <label for="team"><strong>Equipo: </strong></label>
                            <input type="text" class="form-control" 
                                [value]="(teams && teams[user.teamId-1]?.status.description == 'Activo')?teams[user.teamId-1]?.description:''"
                                name="team" placeholder="Seleccione un equipo ... " readonly
                            />
                            <span class="open-select"></span>
                            <select class="select_status" name="select_team" [(ngModel)]="user.teamId">
                                <option [ngStyle]="{'display':(team.status.description == 'Inactivo')?'none':''}" [value]="team.id" 
                                    *ngFor="let team of teams; let it = index;">{{ team.description }}</option>
                            </select>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="active">
                            <label for="password"><strong>Contraseña*: </strong></label>
                            <input type="password" class="form-control" [(ngModel)]="password"
                                name="password" placeholder="Contraseña:" 
                            />
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="active">
                            <label for="confirm_password"><strong>Confirmar Contraseña*: </strong></label>
                            <input type="password" class="form-control" [(ngModel)]="passConfirm"
                                name="confirm_password" placeholder="Confirmar Contraseña:" 
                            />
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeUserModal" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="save()">{{ userId!=0?'Actualizar':'Guardar' }}</button>
            </div>
        </div>
    </div>
</div>
