<div class="auth">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="assets/img/user-icon.png" id="icon" alt="User Icon" />
            </div>
      
            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" 
                    placeholder="Correo electrónico" [(ngModel)]="login.email">
                <input type="password" id="password" class="fadeIn third" name="login" 
                    placeholder="Contraseña" [(ngModel)]="login.password">
                <input type="submit" class="fadeIn fourth" value="Iniciar Sesión" (click)="auth()">
            </form>
        </div>
    </div>
</div>

