<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 center">
                <div class="card">
                    <img class="img-card" src="assets/img/tasks.png" alt="Teams Icon">
                    <div class="card-footer">
                        Tareas
                    </div>
                </div>
            </div>
            <div class="col-md-4 center">
                <div class="card" routerLink="/users">
                    <img class="img-card" src="assets/img/users.png" alt="Teams Icon">
                    <div class="card-footer">
                        Usuarios
                    </div>
                </div>
            </div>
            <div class="col-md-4 center">
                <div class="card" routerLink="/teams">
                    <img class="img-card" src="assets/img/teams.png" alt="Teams Icon">
                    <div class="card-footer">
                        Equipos
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
