<div class="teams">
    <div class="container">
        <div class="table-responsive">
            <div class="table">
                <div class="row">
                    <div class="col-md-6">
                        <br><div class="title-header">ADMINISTRACIÓN DE EQUIPOS</div><br><br>
                    </div>
                    <div class="col-md-4 text-center">
                        <br><div class="title-header custom-add" data-toggle="modal" data-target="#team-modal"><strong>+</strong> AGREGAR UN EQUIPO</div><br><br>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <table>
                    <thead class="text-center">
                        <tr>
                            <th>EQUIPO</th>
                            <th>FECHA DE CREACIÓN</th>
                            <th>ESTADO</th>
                            <th>ACCION</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td><b>Administradores</b></td>
                            <td><b>10/10/2021</b></td>
                            <td><b>Activo</b></td>
                            <td>
                                <button class="btn">
                                    <img width="30" title="Editar Equipo" src="assets/img/edit.svg" alt="Icon Edit" data-toggle="modal" data-target="#team-modal">
                                </button>
                                <button class="btn">
                                    <img width="30" title="Eliminar Equipo" src="assets/img/delete.svg" alt="Icon Delete">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Diseñadores</b></td>
                            <td><b>10/10/2021</b></td>
                            <td><b>Activo</b></td>
                            <td>
                                <button class="btn">
                                    <img width="30" title="Editar Equipo" src="assets/img/edit.svg" alt="Icon Edit" data-toggle="modal" data-target="#team-modal">
                                </button>
                                <button class="btn">
                                    <img width="30" title="Eliminar Equipo" src="assets/img/delete.svg" alt="Icon Delete">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Maquetadores</b></td>
                            <td><b>10/11/2021</b></td>
                            <td><b>Activo</b></td>
                            <td>
                                <button class="btn">
                                    <img width="30" title="Editar Equipo" src="assets/img/edit.svg" alt="Icon Edit" data-toggle="modal" data-target="#team-modal">
                                </button>
                                <button class="btn">
                                    <img width="30" title="Eliminar Equipo" src="assets/img/delete.svg" alt="Icon Delete">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Arquitectos</b></td>
                            <td><b>10/12/2021</b></td>
                            <td><b>Activo</b></td>
                            <td>
                                <button class="btn">
                                    <img width="30" title="Editar Equipo" src="assets/img/edit.svg" alt="Icon Edit" data-toggle="modal" data-target="#team-modal">
                                </button>
                                <button class="btn">
                                    <img width="30" title="Eliminar Equipo" src="assets/img/delete.svg" alt="Icon Delete">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="text-center">
                        <tr>
                            <th>CÓDIGO CUPS</th>
                            <th>ESTUDIO Ó CITA</th>
                            <th>FECHA</th>
                            <th>HORA</th>
                            <th>CANCELAR</th>
                            <th>REASIGNAR</th>
                            <th>VER INSTRUCTIVO</th>
                            <th>ESTADO</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<app-team-modal></app-team-modal>